*, *:before, *:after {
  box-sizing: inherit;
}

.Application {
  background-color: $primary-color-light;
  color: $primary-text-color;
  font-family: $main-font;
  font-size: 24px;
  height: 100vh;
  text-align: center;
}

header {
  background-color: $primary-color;
  border-bottom: 2px solid $divider-color;
  color: $primary-color-text;
  font-size: 30px;
  height: 100px;
}

h1 {
  padding-top: 30px;
}

.GrudgeCounts,
.CreateGrudge {
  border: 2px solid $accent-color;
  border-radius: 5px;
  width: 70%;
  margin: 20px auto;
  padding: 10px;
}

h3 {
  margin: 10px 0;
}

p {
  margin-top: 20px;
  text-align: left;
}

span {
  color: $primary-color-dark;
  margin-left: 10px;
  text-align: left;
}
