
button {
  background-color: $primary-color-dark;
  border: 2px solid $primary-color-dark;
  border-radius: 5px;
  color: $primary-color-text;
  font-size: 14px;
  font-weight: bold;
  height: 30px;
  margin-top: 15px;
  width: 75px;
  &:hover {
    background-color: $primary-color-text;
    color: $primary-color-dark;
  }
}

label {
  display: block;
  margin: 20px;
}

input,
textarea {
  border-radius: 5px;
  font-size: 16px;
  margin-left: 10px;
  padding: 5px;
  width: 275px;
}

textarea {
  margin-top: 10px;
}
